
# ========================
# Entorno de Python
# ========================
# Archivos compilados (esto evitará que se suban los .pyc problemáticos)
__pycache__/
*.py[cod]
*$py.class

# Entornos Virtuales
venv/
.env/
env/
.venv/
.conda/

# ========================
# Machine Learning y Modelos
# ========================
# Pesos y checkpoints que suelen pesar gigabytes
*.pth
*.pt
checkpoints/

# ========================
# Archivos específicos del Proyecto
# ========================
# Archivos split de la descarga original
VideoMAEv2_Proyecto_Paper/dataset/ssv2_luis/20bn-something-something-v2-*
# Otros archivos
VideoMAEv2_Proyecto_Paper/0.txt
VideoMAEv2_Proyecto_Paper/k400

# Carpetas extensas de frames y videos
dataset/ssv2_luis/videos/
dataset/ssv2_luis/SomethingV2/
VideoMAEv2_Proyecto_Paper/dataset/ssv2_luis/SomethingV2/

# Archivos comprimidos o binarios grandes de video
*.webm
*.zip
*.tar
*.gz

# ========================
# Logs y Outputs de ejecuciones
# ========================
logs/
output_dir/
VideoMAEv2_Proyecto_Paper/logs/
VideoMAEv2_Proyecto_Paper/output_dir/

# ========================
# Configuraciones locales de IDEs / Editores de Código
# ========================
.vscode/
.idea/

speed_probe/output/
*.npz
*.out
*.err